---
import PageLayout from "@/layouts/BaseLayout";
import NotePreview from "@/components/NotePreview";
import { getAllTags, sortMDByDate } from "src/util";
import type { Post, Page, MDXInstance } from "@/types";

export async function getStaticPaths({ paginate }) {
	const allPosts = await Astro.glob<Post>("./*.mdx");
	const allPostsByDate = sortMDByDate(allPosts);
	const allTags = getAllTags(allPosts);
	return paginate(allPostsByDate, { props: { allTags }, pageSize: 10 });
}

export interface Props {
	page: Page<MDXInstance<Post>>;
	allTags: string[];
}

const { page, allTags } = Astro.props as Props;

const meta = {
	title: "The Garden of Manuel Fessen",
	description: "A collection of essays, notes, and half-baked explorations I'm always tending to.",
};

---

<PageLayout meta={meta}>
	<section class="h-full">
	<div class="prose max-w-none prose-list-disc leading-6">
		<h1 class="">Notes</h1>
		<p class="mb-4">
			Welcome to my digital garden 👨🏻‍🌾 — a personal wiki. A collection of essays, notes, and half-baked explorations I'm always tending to. Read more about <a
			href="https://maggieappleton.com/garden-history"
			target="_blank"
			>A Brief History & Ethos of the Digital Garden</a>.
		</p>
	</div>

	<!-- Tags -->
	{
		allTags.length && (
			<aside class="max-w-full">
				<ul class="flex overflow-x-auto items-center gap-2 mb-4 flex-row">
					<li> <!-- muss sein, damit die UI gleich ist -->
						<a class="btn btn-xs" href={`/notes`}>
							all
						</a>
					</li>
					{allTags.map((tag) => (
						<li>
							<a
								class="btn btn-xs"
								href={`/tags/${tag}`}
								aria-label={`View all posts with the tag: ${tag}`}
							>
								{tag}
							</a>
						</li>
					))}
				</ul>
			</aside>
		)
	}
	<section class="mt-8" aria-label="Blog post list">
		<ul class="note-grid space-y-4">
			{
				page.data.map((p) => (
					<li>
						<NotePreview post={p}/>
					</li>
				))
			}
		</ul>
	</section>
</section>
</PageLayout>

<style>

	.note-grid{
    --columns: 3;
    --min-column-width: 15rem;
    --gap: 1rem;
    columns: var(--columns) var(--min-column-width);
    column-gap: var(--gap);
	}
</style>
