---
import FullLayout from '@/layouts/FullLayout.astro'
import dayjs from 'dayjs'
import relativeTime from 'dayjs/plugin/relativeTime'
import type { MarkdownLayoutProps } from 'astro'
import type { Frontmatter, SiteMeta } from '@/types'
import { cx } from '@/lib/utils'
import '@/styles/syntaxHighlight.css'
import NoteList from '@/components/NoteList.astro'

interface Props extends MarkdownLayoutProps<Frontmatter> {}

const {
  title,
  description,
  publishedAt,
  updatedAt,
  tags,
  //comments = true,
  slug,
  minutesRead,
  hero,
} = Astro.props.frontmatter

const metadata: SiteMeta = {
  title: `${title}`,
  description,
  publishedAt,
}

const posts = await Astro.glob<Frontmatter>('./*.mdx')
const nonDraftPosts = posts.filter(({ frontmatter }) => !frontmatter.draft)
const sortedPosts = nonDraftPosts.sort(
  ({ frontmatter: { publishedAt: a } }, { frontmatter: { publishedAt: b } }) =>
    new Date(b).valueOf() - new Date(a).valueOf()
)

const currentPostIndex = sortedPosts.findIndex(({ frontmatter }) => frontmatter.slug === slug)
const prevPost = sortedPosts[currentPostIndex + 1]
const nextPost = sortedPosts[currentPostIndex - 1]

dayjs.extend(relativeTime)

export type BaseHeadProps = {
  meta: SiteMeta
}
---

<FullLayout title={`${title} – Manuel Fessen`} description={description}>
  <div class='hidden sm:flex sm:w-96'>
    <NoteList />
  </div>
  <div class='relative flex max-h-screen w-full flex-col overflow-y-auto bg-white dark:bg-black'>
    <div
      class='filter-blur sticky top-0 z-10 flex flex-col justify-center px-3 py-2 dark:border-b dark:border-gray-900'
      style='background: rgba(50, 50, 50, 0); box-shadow: rgba(0, 0, 0, 0) 0px 1px 3px; min-height: 48px;'
    >
      <div class='flex items-center justify-between flex-none'>
        <span class='flex items-center space-x-3'
          ><a
            class='flex items-center justify-center p-2 rounded-md text-primary hover:bg-gray-200 dark:hover:bg-gray-800 lg:hidden'
            onclick="history.back()"
            ><svg
              xmlns='http://www.w3.org/2000/svg'
              width='16'
              height='16'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='2'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='text-primary'
              ><line x1='19' y1='12' x2='5' y2='12'></line><polyline points='12 19 5 12 12 5'
              ></polyline></svg
            ></a
          ><h2
            class='text-sm font-bold text-black dark:text-white transform-gpu line-clamp-1'
            style='transform: translateY(200%); opacity: 0;'
          >
            {title}
          </h2></span
        ><div class='flex items-center space-x-2'>
          <div>
            <button
              class='flex space-x-2 flex-none items-center justify-center cursor-pointer leading-none transition-all font-semibold px-4 py-2 text-sm opacity-100 rounded-md text-gray-700 hover:text-gray-1000 shadow-xs bg-white border border-gray-400 border-opacity-30 dark:border-gray-700 dark:hover:border-gray-600 dark:bg-white dark:bg-opacity-10 dark:text-gray-200 dark:hover:text-white hover:border-opacity-50 hover:shadow-sm'
              aria-label='Like'
              ><span class='text-gray-500'
                ><svg
                  width='15'
                  height='15'
                  viewBox='0 0 15 15'
                  fill='none'
                  xmlns='http://www.w3.org/2000/svg'
                  ><path
                    d='M7.50001 13.125C7.09689 12.7675 6.64126 12.3956 6.15939 12H6.15314C4.45626 10.6125 2.53314 9.04247 1.68376 7.16122C1.40471 6.5623 1.25683 5.91067 1.25001 5.24997C1.24814 4.3434 1.61175 3.47434 2.25864 2.8392C2.90554 2.20406 3.78113 1.85647 4.68751 1.87497C5.42541 1.87614 6.14741 2.0894 6.76751 2.48935C7.03999 2.6662 7.28653 2.88013 7.50001 3.12497C7.71469 2.88109 7.96129 2.66729 8.23314 2.48935C8.85297 2.08932 9.5748 1.87604 10.3125 1.87497C11.2189 1.85647 12.0945 2.20406 12.7414 2.8392C13.3883 3.47434 13.7519 4.3434 13.75 5.24997C13.7436 5.91173 13.5957 6.56447 13.3163 7.16435C12.4669 9.0456 10.5444 10.615 8.84751 12L8.84126 12.005C8.35876 12.3981 7.90376 12.77 7.50064 13.13L7.50001 13.125ZM4.68751 3.12497C4.10533 3.11768 3.54381 3.3405 3.12501 3.74497C2.72151 4.14132 2.49599 4.68437 2.49996 5.24997C2.50709 5.73153 2.61616 6.20613 2.82001 6.64247C3.22096 7.45416 3.76196 8.18875 4.41814 8.81247C5.03751 9.43747 5.75001 10.0425 6.36626 10.5512C6.53689 10.6918 6.71064 10.8337 6.88439 10.9756L6.99376 11.065C7.16064 11.2012 7.33314 11.3425 7.50001 11.4812L7.50814 11.4737L7.51189 11.4706H7.51564L7.52126 11.4662H7.52439H7.52751L7.53876 11.4568L7.56439 11.4362L7.56876 11.4325L7.57564 11.4275H7.57939L7.58501 11.4225L8.00001 11.0818L8.10876 10.9925C8.28439 10.8493 8.45814 10.7075 8.62876 10.5668C9.24501 10.0581 9.95814 9.45372 10.5775 8.8256C11.2338 8.2022 11.7748 7.46779 12.1756 6.65622C12.3832 6.2161 12.4938 5.73654 12.5 5.24997C12.5026 4.68612 12.2772 4.14515 11.875 3.74997C11.457 3.34367 10.8954 3.11902 10.3125 3.12497C9.60122 3.11893 8.92122 3.41708 8.44376 3.94435L7.50001 5.03185L6.55626 3.94435C6.0788 3.41708 5.39881 3.11893 4.68751 3.12497Z'
                    fill='currentColor'></path></svg
                ></span
              ><span>0</span></button>
          </div>
        </div>
      </div><div></div>
    </div>
    <div class='mx-auto w-full max-w-3xl px-4 py-12 pb-10 md:px-8'>
      <div class='space-y-3 mb-8'>
        {hero && <img class='mx-auto w-full rounded' loading='lazy' src={hero} alt={title} />}
        <h1 class='font-sans text-2xl font-bold xl:text-3xl'>{title}</h1>
        <div class='flex items-center justify-between md:flex-row md:items-center'>
          <div class='flex items-center mt-4'>
            <p class='text-sm text-gray-700 dark:text-gray-300'>
              <span>Published at</span>
              <time
                class='text-gray-600 dark:text-gray-200 font-semibold'
                datetime={dayjs(publishedAt).toISOString()}
                title={dayjs(publishedAt).fromNow()}
              >
                {dayjs(publishedAt).format('DD MMMM YYYY')}
              </time>
              {
                updatedAt && (
                  <>
                    <span>,&nbsp;</span>
                    <br class='sm:hidden' />
                    <span>modified on</span>
                    <time
                      class='font-semibold text-gray-600 dark:text-gray-200'
                      datetime={dayjs(updatedAt).toISOString()}
                      title={dayjs(updatedAt).fromNow()}
                    >
                      {dayjs(updatedAt).format('DD MMMM YYYY')}
                    </time>
                  </>
                )
              }
            </p>
          </div>
          <p class='text-sm text-gray-600 dark:text-gray-300 min-w-32 md:mt-0 mt-4'>
            {minutesRead}
          </p>
        </div>
      </div>

      <article
        class={cx(
          'prose dark:prose-invert max-w-none',
          'prose-hr:duration-300',
          'prose-pre:border-2 prose-pre:border-gray-200 dark:prose-pre:border-gray-700',
          'prose-code:text-pink-500'
        )}
      >
        <slot />
      </article>
      <div class='flex flex-col lg:flex-row gap-2 w-full mt-10'>
        {
          prevPost && (
            <a
              href={`/notes/${prevPost.frontmatter.slug}`}
              class={cx(
                'border-grey-200 flex grow flex-col rounded-lg border p-3 hover:bg-gray-200 dark:border-gray-800 dark:hover:bg-gray-800 sm:p-4',
                nextPost ? 'lg:w-1/2' : 'lg:w-full'
              )}
            >
              <p class='text-gray-600 dark:text-gray-300'>Previous note</p>
              <p class='text-black dark:text-white'>{prevPost.frontmatter.title}</p>
            </a>
          )
        }
        {
          nextPost && (
            <a
              href={`/notes/${nextPost.frontmatter.slug}`}
              class={cx(
                'border-grey-200 flex grow flex-col rounded-lg border p-3 hover:bg-gray-200 dark:border-gray-800 dark:hover:bg-gray-800 sm:p-4',
                prevPost ? 'lg:w-1/2 lg:items-end' : 'lg:w-full'
              )}
            >
              <p class='text-gray-600 dark:text-gray-300'>Next note</p>
              <p class='text-black dark:text-white'>{nextPost.frontmatter.title}</p>
            </a>
          )
        }
      </div>
    </div>
  </div>
</FullLayout>
