---

import { Image } from '@astrojs/image/components'
export interface Props {
  title: string;
  img: string;
  author: string;
  url: string;
}
const { title, img, author, url } = Astro.props as Props;
---

<li class="list-none">
  <ul class="w-44">
  <a href={url} target="_blank">
    <Image
    src={img}
    alt={title}
    height={480}
    width={300}
    draggable={false}
    loading='eager'
    format='webp'
    attributes={{
      img: {
        class: "transform hover:scale-[1.01] transition-all",
      },
    }}
  />
    <div class="py-2">
      <h5 class="my-2 text-xl mt-8">
        {title}
      </h5>
      <p class="mb-3 font-normal">{author}</p>
    </div>
  </a>
</ul>
</li>
