---
import Card from '../../components/Card.astro';
import BlogPost from '../../components/BlogPost.astro';
import Paginator from '../../components/Paginator.astro'
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths({ paginate }) {
  let allPosts = (await Astro.glob("./*.md")).sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );

  return paginate(allPosts, {
    pageSize: 6
  })
}


const { page } = Astro.props
let pageTitle = 'Articles';
//let pageDescription = `page ${page.currentPage} of all articles`;
let pageDescription = `articles I have written in the past`;
let seoTitle = "Manuel Fessen | Articles I have written in the past";
let seoDescription = "What's on my mind, and links to some interesting stuff on the web.";
---

<BaseLayout title={seoTitle} description={seoDescription}>

  <main class="h-full">
    <div class="prose max-w-none prose-list-disc leading-6">
      <h1 class="">Blog</h1>
      <p class="mb-4">
      </p>
    </div>

    {page.data.map(p =>
    <div class="col-span-1">
      <Card post={p} />
    </div>)}
  </main>
  <Paginator page={page} />
</BaseLayout>