---
import '../../styles/index.css'

export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;

let permalink = 'https://manuelfessen.github.io';
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="sitemap" href="/sitemap.xml" />
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />


<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="/images/social.jpg" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="/images/social.jpg" />


<script rel="preload" src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/micromodal/0.4.10/micromodal.min.js"
  integrity="sha512-qcwcAul7d7yUcoz3MmQABiaGDa+gVkaDWgZX6wEd/z3I6z62nQCDW3EqioQG+O+QlGCpxmJLdH5snh4IaDPiPA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script is:inline>
  const themeSaved = localStorage.getItem("theme");

  if (themeSaved) {
    document.documentElement.dataset.theme = themeSaved;
  } else {
    const prefersDark = window.matchMedia(
      "(prefers-color-scheme: black)"
    ).matches;
    document.documentElement.dataset.theme = prefersDark ? "black" : "light";
  }

  window
    .matchMedia("(prefers-color-scheme: black)")
    .addEventListener("change", (event) => {
      if (!localStorage.getItem("theme")) {
        document.documentElement.dataset.theme = event.matches
          ? "black"
          : "light";
      }
    });
</script>