---
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostCard from '@/components/PostCard.astro'
import TagCard from '@/components/TagCard.astro'
import type { MarkdownLayoutProps } from 'astro'
import type { Frontmatter } from '@/types'

interface Props {
  count: number
  posts: MarkdownLayoutProps<Frontmatter>[]
}

export async function getStaticPaths() {
  const posts = await Astro.glob<Frontmatter>('../notes/*.mdx')
  const nonDraftPosts = posts.filter(({ frontmatter }) => !frontmatter.draft)

  const tags = nonDraftPosts.flatMap(({ frontmatter }) => frontmatter.tags)
  const uniqueTags = [...new Set(tags)]

  const getCount = (tag: string) => tags.filter((t) => t === tag).length

  return uniqueTags.map((tag) => ({
    params: { tag },
    props: {
      count: getCount(tag),
      posts: nonDraftPosts.filter(({ frontmatter: { tags } }) =>
        Array.isArray(tags) ? tags.includes(tag) : false
      ),
    },
  }))
}

const { tag } = Astro.params
const { count, posts } = Astro.props

const posts2 = await Astro.glob<Frontmatter>('../blog/*.mdx')
const nonDraftPosts = posts2.filter(({ frontmatter }) => !frontmatter.draft)

const tags = nonDraftPosts.flatMap(({ frontmatter }) => frontmatter.tags)
const uniqueTags = [...new Set(tags)]

const getCount = (tag: string) => tags.filter((t) => t === tag).length
---

<BaseLayout title={`#${tag} - Manuel Fessen`} description={`All the posts that include ${tag}.`}>
  <div class='mb-10'>
    <h2 class='mb-4 text-3xl font-bold tracking-tight md:text-5xl'>#{tag} ( {count} )</h2>
  </div>
  <ul class='flex gap-x-2 mb-8'>
    
  {
    uniqueTags.length ? (
      <ol class='flex flex-wrap gap-x-2 gap-y-2'>
        {uniqueTags.map((tag) => (
          <li>
            <TagCard tag={tag} count={getCount(tag)} />
          </li>
        ))}
      </ol>
    ) : (
      <p class='text-gray-600 dark:text-gray-300'>No tags yet.</p>
    )
  }
  </ul>

  <div class='grid w-full grid-cols-1 gap-4 my-2 mt-4 sm:grid-cols-3'>
  {posts.map(({ frontmatter }) => <PostCard {...frontmatter} />)}
  </div>
</BaseLayout>
