---
import { SEO } from 'config'
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostCard from '@/components/PostCard.astro'
import type { Frontmatter, SiteMeta } from '@/types'

const allPosts = await Astro.glob('./blog/*.mdx')
const nonDraftSortedPosts = allPosts
  .filter(({ frontmatter }) => !frontmatter.draft)
  .sort((a, b) => {
    const aDate = new Date(a.frontmatter.publishedAt)
    const bDate = new Date(b.frontmatter.publishedAt)
    return bDate.getTime() - aDate.getTime()
  })
const postsByYear = nonDraftSortedPosts.reduce((acc: any, post) => {
  const year = new Date(post.frontmatter.publishedAt).getFullYear()
  if (!acc[year]) {
    acc[year] = []
  }
  acc[year].push(post)
  return acc
}, {})
const sortedYears = Object.keys(postsByYear).sort((a, b) => Number(b) - Number(a))

const metadata: SiteMeta = {
  title: SEO.getTitle('Blog'),
  description:
    'I write about user experience, user testing, and other topics that I find interesting.',
}
---

<BaseLayout {...metadata}>
  <div class='mb-16'>
    <h2 class='mb-4 text-3xl font-bold tracking-tight md:text-5xl'>Blog</h2>
    <p class='text-gray-600 dark:text-gray-300'>
      I write about web development, programming, and other stuff that I find interesting. Compared
      to my
    </p>
  </div>
  {
    sortedYears.map((year) => (
      <div>
        <h3 class='text-xl font-semibold'>{year}</h3>
        <ul class='space-y-2 py-2'>
          {postsByYear[year].map((post: any) => (
            <li>
              <a
                rel='prefetch'
                href={`/blog/${post.frontmatter.slug}`}
                class='border-grey-200 mb-4 flex w-full flex-col rounded border p-2 transition-colors duration-300 hover:bg-gray-200 dark:border-gray-800 dark:hover:bg-gray-800 sm:p-4'
              >
                <span class='mb-1 flex items-center justify-between'>
                  <h3 class='mb-1 text-lg md:text-xl text-gray-900 dark:text-gray-100'>
                    {post.frontmatter.title}
                  </h3>
                  <span class='shrink-0 text-gray-600 dark:text-gray-400 font-normal'>{post.frontmatter.minutesRead}</span>
                </span>
                <p class='line-clamp-2 text-gray-600 dark:text-gray-400 font-normal'>{post.frontmatter.description}</p>
              </a>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</BaseLayout>