---
import inter from '@fontsource/inter/files/inter-latin-400-normal.woff2'
import firacode from '@fontsource/fira-code/files/fira-code-latin-400-normal.woff2'
import '@fontsource/inter'
import '@fontsource/fira-code'
import 'katex/dist/katex.min.css'

import type { SiteMeta } from "@/types/index";
import siteMeta from "@/types/site-meta.config";

export type BaseHeadProps = SiteMeta;

const {
  title,
  description = siteMeta.description,
  image = '/social.png',
  imageTwitter = '/sw.png',
} = Astro.props as BaseHeadProps;

const titleSeparator = "•";
//const siteTitle = `${title} ${titleSeparator} ${siteMeta.title}`;
const siteTitle = `${title}`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<meta charset='utf-8' />
<meta name='viewport' content='width=device-width, initial-scale=1.0, viewport-fit=cover' />
<meta name='generator' content={Astro.generator} />
<link rel='icon' type='image/svg+xml' href='/favicon.ico' />


<!-- Primary Meta Tags -->
<title>{siteTitle}</title>
<meta name='title' content={siteTitle} />
<meta name='description' content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:locale" content={siteMeta.ogLocale} />
<meta property='og:type' content='website' />
<meta property='og:url' content={canonicalURL} />
<link rel="canonical" href={canonicalURL} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<meta property='twitter:card' content={image ? "summary_large_image" : "summary"} />
<meta property='twitter:url' content={Astro.url} />
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@nytimesbits" />
<meta name="twitter:creator" content="@nickbilton" />
<meta property="og:image" content={new URL(imageTwitter, Astro.url)} />

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
  })()

  document.documentElement.setAttribute('data-theme', theme)
  window.localStorage.setItem('theme', theme)
</script>

<link as='font' href={inter} type='font/woff2' crossorigin='anonymous' />
<link as='font' href={firacode} type='font/woff2' crossorigin='anonymous' />


<!-- Cloudflare Web Analytics -->
<script 
  defer 
  src='https://static.cloudflareinsights.com/beacon.min.js' 
  data-cf-beacon='{"token": "18ee29c201214ea594d90ed48aedb29c"}'>
</script>
<!-- End Cloudflare Web Analytics -->