---
import dayjs from 'dayjs'

export interface Props {
  post: any;
}

const { post } = Astro.props;
const wpm = 200; // Slightly less than average
const wordCount = post.rawContent().split(/(s+)/).length;
const reading = Math.max(1, Math.floor(wordCount / wpm));


---

<a class="w-full no-underline" href={post.url}>
  <div class="flex justify-between items-center">
    <div class="">
      <div class="flex justify-between md:flex-row pb-1">
        <h4 class="w-full mb-1 text-base font-semibold">
          {post.frontmatter.title}
        </h4>
      </div>
      <p class="text-xs mb-2 sm:block hidden">{post.frontmatter.description}</p>
      <div class="flex items-center space-x-2">
        <div class="text-xs">Posted on {dayjs(post.frontmatter.date).format('DD.MM.YYYY')}</div>
        <div class="text-xs">· 📖 {reading} min read</div>
      </div>
    </div>
    <img class="w-60 my-4 md:block hidden" src={post.frontmatter.hero}
      alt={post.frontmatter.title}>
  </div>
  <div class="divider"></div> 
</a>