---
import { nav } from './data/nav.js'
import ThemeChange from "../components/ThemeChange.astro";
---

<nav class="flex-1 flex items-center justify-between pb-4">
  <ul class="menu menu-horizontal p-0 hidden md:flex ml-[-0.60rem]">
    {nav.map((item) => (
      <li>
        <a class="p-1 sm:px-3 sm:py-2" href={item.slug}>{item.title}</a>
      </li>
    ))}
  </ul>

  <div class="flex">
  <ThemeChange />
  <a
class="btn btn-square btn-ghost swap" href="/search"
><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
</svg>
</a>
  </div>


  <div class="dropdown dropdown-end md:hidden">
    <label tabindex={0} class="btn btn-ghost btn-square">
      <svg
        class="w-6 h-6 stroke-current"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#000"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-menu"
      >
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </label>
    <ul
      tabindex={0}
      class="dropdown-content menu p-2 bg-base-200 rounded-box w-52 menu-compact"
    >
      {nav.map((item) => (
        <li>
          <a href={item.slug}>{item.title}</a>
        </li>
      ))}
    </ul>
  </div>
</nav>
<!-- 
<nav
      id="menu"
      class="hidden lg:flex py-4 px-0 items-center flex-wrap w-full"
    >
      <div class="container container__row">
        <a class="logo" href="/" title="Homepage">
          <span>manuelfessen</span>
        </a>

        <ul class="pl-0 list-none flex ml-auto justify-end">
          
      {nav.map((item) => (
        <li>
          <a href={item.slug}>{item.title}</a>
        </li>
      ))}
        </ul>
      </div>
    </nav>

    <nav id="mobileMenu" class="flex lg:hidden w-full z-50">
      <ul
        class="list-none mx-auto flex items-center justify-around shadow-md rounded-[7px] border-2 border-orange-500"
      >
        <li class="mobileMenuLogo">
          <a href="/" class="logo">
            manuelfessen
          </a>
        </li>
        
      {nav.map((item) => (
        <li>
          <a href={item.slug}>{item.title}</a>
        </li>
      ))}
      </ul>
    </nav>


    <style lang="scss">
      #headerArea {
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
      }
      // MENU
      nav {
        .container {
          justify-content: space-between;
        }
        .logo {
          display: flex;
          gap: 0 0.3rem;
          align-items: center;
          justify-content: center;
          &:hover {
            text-decoration: none;
          }
          img {
            max-width: 52px;
            height: auto;
            object-fit: cover;
          }
          span {
            font-size: 1.4rem;
            font-weight: 500;
          }
        }
        ul {
          align-items: center;
          gap: 0 2.5rem;
          li {
            a {
              font-size: 1rem;
              text-transform: capitalize;
              color: #333a42;
            }
          }
        }
      }
      #mobileMenu {
        position: fixed;
        bottom: 10px;
        left: 0;
        ul {
          background: white;
          gap: 0 0.85rem;
          padding: 0.7rem 0.75rem;
          min-width: 280px;
          max-width: 540px;
          width: 60%;
          li {
            img {
              max-width: 40px;
            }
            a {
              display: flex;
              align-items: center;
              flex-direction: column;
              gap: 0.1rem 0;
              img {
                max-width: 24px;
              }
              &.logo img {
                max-width: 52px;
              }
            }
          }
        }
        @media screen and (min-width: 1023.9px) {
          display: none;
        }
      }
    </style>

-->