---
import { nav } from './data/nav.js'
import ThemeChange from "../components/ThemeChange.astro";
---
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<div x-data="{ mobileMenuOpen : false }" class="flex flex-wrap flex-row justify-between md:items-center md:space-x-4 bg-white py-4 px-4 relative">
  <a href="#" class="block">
    <span class="text-blue-900 text-2xl font-bold hover:opacity-0">Manuel Fessen</span>
    <span class="absolute transition duration-300 left-0 opacity-0 hover:opacity-100">@manuelfessen</span>
  </a>
  <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="mobileMenuOpen = !mobileMenuOpen">
    <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
      <path x-show="!mobileMenuOpen" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      <path x-show="mobileMenuOpen" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
    </svg>
  </button>
  <nav class="absolute md:relative top-12 left-0 md:top-0 z-20 md:flex flex-col md:flex-row md:space-x-6 font-semibold w-full md:w-auto bg-white shadow-md rounded-lg md:rounded-none md:shadow-none md:bg-transparent"
  :class="{ 'flex text-center' : mobileMenuOpen , 'hidden' : !mobileMenuOpen}"  @click.away="mobileMenuOpen = false">
  {nav.map((item) => (
    <li class="list-none lg:self-center sm:py-8">
      <a class="block py-1 text-gray-600 hover:underline" href={item.slug}>{item.title}</a>
    </li>
  ))}
  <div class="lg:self-center">
  <ThemeChange/>
</div>
  </nav>
</div>


<!-- 
<nav
      id="menu"
      class="hidden lg:flex py-4 px-0 items-center flex-wrap w-full"
    >
      <div class="container container__row">
        <a class="logo" href="/" title="Homepage">
          <span>manuelfessen</span>
        </a>

        <ul class="pl-0 list-none flex ml-auto justify-end">
          
      {nav.map((item) => (
        <li>
          <a href={item.slug}>{item.title}</a>
        </li>
      ))}
        </ul>
      </div>
    </nav>

    <nav id="mobileMenu" class="flex lg:hidden w-full z-50">
      <ul
        class="list-none mx-auto flex items-center justify-around shadow-md rounded-[7px] border-2 border-orange-500"
      >
        <li class="mobileMenuLogo">
          <a href="/" class="logo">
            manuelfessen
          </a>
        </li>
        
      {nav.map((item) => (
        <li>
          <a href={item.slug}>{item.title}</a>
        </li>
      ))}
      </ul>
    </nav>


    <style lang="scss">
      #headerArea {
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
      }
      // MENU
      nav {
        .container {
          justify-content: space-between;
        }
        .logo {
          display: flex;
          gap: 0 0.3rem;
          align-items: center;
          justify-content: center;
          &:hover {
            text-decoration: none;
          }
          img {
            max-width: 52px;
            height: auto;
            object-fit: cover;
          }
          span {
            font-size: 1.4rem;
            font-weight: 500;
          }
        }
        ul {
          align-items: center;
          gap: 0 2.5rem;
          li {
            a {
              font-size: 1rem;
              text-transform: capitalize;
              color: #333a42;
            }
          }
        }
      }
      #mobileMenu {
        position: fixed;
        bottom: 10px;
        left: 0;
        ul {
          background: white;
          gap: 0 0.85rem;
          padding: 0.7rem 0.75rem;
          min-width: 280px;
          max-width: 540px;
          width: 60%;
          li {
            img {
              max-width: 40px;
            }
            a {
              display: flex;
              align-items: center;
              flex-direction: column;
              gap: 0.1rem 0;
              img {
                max-width: 24px;
              }
              &.logo img {
                max-width: 52px;
              }
            }
          }
        }
        @media screen and (min-width: 1023.9px) {
          display: none;
        }
      }
    </style>

-->