---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from './BaseLayout.astro';

const {content} = Astro.props;
const {title, description, date, hero} = content;
---

<BaseLayout title={title} description={description}>
    <main class="prose ">
      <BlogPost title={title} hero={hero} date={date} >
        <slot />
      </BlogPost>
    </main>
  </BaseLayout>

