---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from './BaseLayout.astro'
import readingTime from 'reading-time'

const {content} = Astro.props;
const {title, description, date, keywords} = content;

const reading = readingTime(content.astro.source)
---

<BaseLayout title={`${title}`} description={description}>
    <main class="pb-4">
      <BlogPost title={title} date={date} reading={reading} keywords={keywords}>
        <slot />
      </BlogPost>
    </main>
  </BaseLayout>

